extends layout 

block content 
  h1=title 

  h2
    p=description

    ul 
      each item in items_list 
        li 
          a(href=item.url) #{item.name}
          | (In stock: #{item.numberInStock})
