extends layout 

block content 
  h1=items.name 

  h2 Description 

  p=items.description 

  h2 Category 

  p=items.category.name 

  h2 Price 

  p=items.price 

  h2 Number in Stock 

  p=items.numberInStock